@model BlogViewModels.PagedResult<DBClassLibrary.ClassAll>
@{
    ViewData["Title"] = "分類維護";
}

    <div id="view-all" class="table-wrapper">
        <partial name="_ViewAll" model="Model" />
    </div>

