@model BlogViewModels.PagedResult<DBClassLibrary.Tags>
@{
    ViewData["Title"] = "個人標籤維護";
}

    <div id="view-all" class="table-wrapper">
        <partial name="_ViewAll" model="Model" />
    </div>

