@model BlogViewModels.PagedResult<DBClassLibrary.Roles>
@{
    ViewData["Title"] = "角色維護";
}

<div id="view-all" class="table-wrapper">
    <partial name="_ViewAll" model="Model" />
</div>
@section Scripts{

}







